doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Fashi Template')
  meta(name='keywords' content='Fashi, unica, creative, html')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Fashi | Template
  // Google Font
  link(href='https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap' rel='stylesheet')
  // Css Styles
  link(rel='stylesheet' href='/fashi/css/bootstrap.min.css' type='text/css')
  link(rel='stylesheet' href='/fashi/css/font-awesome.min.css' type='text/css')
  link(rel='stylesheet' href='/fashi/css/themify-icons.css' type='text/css')
  link(rel='stylesheet' href='/fashi/css/elegant-icons.css' type='text/css')
  link(rel='stylesheet' href='/fashi/css/owl.carousel.min.css' type='text/css')
  link(rel='stylesheet' href='/fashi/css/nice-select.css' type='text/css')
  link(rel='stylesheet' href='/fashi/css/jquery-ui.min.css' type='text/css')
  link(rel='stylesheet' href='/fashi/css/slicknav.min.css' type='text/css')
  link(rel='stylesheet' href='/fashi/css/style.css' type='text/css')
// Page Preloder
#preloder
  .loader
// Header Section Begin
include header.layout.pug
// Header End
block content
// Footer Section Begin
include footer.layout.pug
// Footer Section End
// Js Plugins
script(src='/fashi/js/jquery-3.3.1.min.js')
script(src='/fashi/js/bootstrap.min.js')
script(src='/fashi/js/jquery-ui.min.js')
script(src='/fashi/js/jquery.countdown.min.js')
script(src='/fashi/js/jquery.nice-select.min.js')
script(src='/fashi/js/jquery.zoom.min.js')
script(src='/fashi/js/jquery.dd.min.js')
script(src='/fashi/js/jquery.slicknav.js')
script(src='/fashi/js/owl.carousel.min.js')
script(src='/fashi/js/main.js')
